@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply no-scrollbar;
  }
}

@layer utilites {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-x-fade::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
}
